[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
bagpy = "*"
folium = "*"
ffmpeg-python = "*"
pandas = "*"
tqdm = "*"
openpyxl = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.14"
